<%= form_for([@procedure, @procedure.surveyresponses.build]) do |f| %>
  <p>
    <%= f.label :Type_of_questionnaire %><br>
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.label :Date_of_response %><br>
    <%= f.date_field :date %>
  </p>

  <p>
    <!--TODO: insert code to pull in from question table to populate with values-->
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>