<%= form_for @surveytemplate do |f| %>

  <% if @surveytemplate.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@surveytemplate.errors.count, "error") %> prohibited
        this procedure from being saved:
      </h2>
      <ul>
        <% @surveytemplate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :definition %><br>
    <%= f.text_area :definition %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>