<p>
  <strong>Name:</strong>
  <%= @surveytemplate.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @surveytemplate.description %>
</p>

<%= link_to 'Edit', edit_surveytemplate_path(@surveytemplate) %> |
<%= link_to 'Back', surveytemplates_path %>

<%= render @surveytemplate.questions %>
