<h1>BAJIR</h1>
<p>Welcome to the BAJIR homepage</p>
<%= link_to 'New Procedure', new_procedure_path %>
<%= link_to 'All Procedures', controller: 'procedures' %>
<%= link_to 'Create Questionnaire', new_surveytemplate_path %>
<%= link_to 'All Questionnaires', controller: 'surveytemplates' %>
<%= link_to 'Create Operation', new_operation_path %>
<%= link_to 'All Operations', controller: 'operations' %>