<h1>Listing procedures</h1>
 
<table>
  <tr>
    <th>T Number</th>
    <th>Operation Date</th>
    <th>Operation Code</th>
    <th colspan="2"></th>
  </tr>
 
  <% @procedures.each do |procedure| %>
    <tr>
      <td><%= procedure.tnumber %></td>
      <td><%= procedure.procedureDate %></td>
      <td><%= procedure.operation_id %></td>
      
      <td><%= link_to 'Show', procedure_path(procedure) %></td>
      <td><%= link_to 'Edit', edit_procedure_path(procedure) %></td>
      <td><%= link_to 'Destroy', procedure_path(procedure),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>