<h1>New Procedure</h1>
<%= form_for :procedure, url: procedures_path do |f| %>

<% if @procedure.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@procedure.errors.count, "error") %> prohibited
        this procedure from being saved:
      </h2>
      <ul>
        <% @procedure.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :tnumber %><br>
    <%= f.text_field :tnumber %>
  </p>
 
  <p>
    <%= f.label :procedureDate %><br>
    <%= f.date_field :procedureDate %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', procedures_path %>