<h2>Procedure Details</h2>
<p>
  <strong>T Number:</strong>
  <%= @procedure.tnumber %>
</p>

<p>
  <strong>Procedure Date:</strong>
  <%= @procedure.procedureDate %>
</p>

<p>
  <strong>Operation</strong>
  <%= @procedure.operation_id %> [Need to change this to reflect operation code and description]
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>

<h3>Completed questionnaires</h3>
<table>
	<tr>
		<th>Questionnaire</th>
		<th>Date of Completion</th>
		<th colspan="2"></th>
	</tr>
<%= render @procedure.surveyresponses %>
</table>

<h2>Add a Questionnaire:</h2>
<%= render 'surveyresponses/form' %>