<p>
  <strong>T Number:</strong>
  <%= @procedure.tnumber %>
</p>

<p>
  <strong>Procedure Date:</strong>
  <%= @procedure.procedureDate %>
</p>

<h2>Completed Questionnaires</h2>
<%= render @procedure.questionnaires %>

<h2>Add a Questionnaire Response:</h2>
<%= render 'questionnaires/form' %>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>